<app-navbar></app-navbar>
<br><br>
<nav style="position: fixed;">
  <div>
    <a routerLink="/login">Login</a>&nbsp;&nbsp;
    <a routerLink="/signup">SignUp</a>&nbsp;&nbsp;
  </div>
</nav>
<div class="container">
  <h1>SignUp</h1>
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <div class="default">
      <div>
        <label for="firstName">Date</label>
        <input type="text" id="date" name="date" [(ngModel)]="date" readonly>
      </div>
      <div>
        <label for="firstName">Time</label>
        <input type="text" id="time" name="time" [(ngModel)]="time" readonly>
      </div>
    </div>
    <div>
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
      <div *ngIf="firstNameError" class="error-message">First name should contain only letters and be within 30
        characters.</div>
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>
      <div *ngIf="lastNameError" class="error-message">Last name should contain only letters and be within 30
        characters.</div>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
      <div *ngIf="emailError" class="error-message">Email should be valid, e.g., john@example.com</div>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
      <div *ngIf="passwordError" class="error-message">Password should be between 5 and 20 characters long.</div>
    </div>
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      <div *ngIf="confirmPasswordError" class="error-message">Passwords do not match.</div>
    </div>
    <button type="submit" style="font-size: large; font-weight: bold;">Sign Up</button>

  </form>
</div>
<app-footer></app-footer>