.account-content {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.account-details {
    padding: 20px;
}

.account-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.button {
    text-align: center;
    font-weight: bold;
    background-color: #cfcfcf;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
}

.button:hover {
    background-color: var(--high-color);
    color: #ffffff;
}