<div class="column" style="text-align: center;">
    <div class="account-details" style="text-align: center;">
      <h2>Change Password</h2>
      <div *ngIf="!isReadOnlyP">
        <div class="form-group">
          <label for="newPassword">New Password:</label><br>
          <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword">
        </div><br>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label><br>
          <input type="password" id="confirmPassword" [(ngModel)]="cNewPassword" name="confirmPassword">
        </div><br>
      </div>
      <div>
        <button class="button" *ngIf="isReadOnlyP" (click)="toggleEditP()">Change</button>&nbsp;&nbsp;&nbsp;
        <button class="button" *ngIf="!isReadOnlyP" (click)="cancelEditP()">Cancel</button>&nbsp;&nbsp;&nbsp;
        <button class="button" *ngIf="!isReadOnlyP" (click)="updatePassword()">Change Password</button>
      </div>
    </div>
  </div>