<app-navbar-order></app-navbar-order>
<br><br>
<div class="container">
    <mat-form-field class="filter" style="align-items: center;justify-content: center; width: fit-content;">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="search()" placeholder="Ex. 189 | 16" #input>
    </mat-form-field><br>
    <div *ngFor="let order of orders" class="card">
        <mat-card class="line">
            <mat-card-header>
                <mat-card-title style="text-align: center;">{{ order.order_id }}</mat-card-title>
                <mat-card-subtitle style="text-align: center;" class="status" [ngClass]="{'shipped': order.status === 'Shipped', 'processing': order.status === 'Processing', 'delivered': order.status === 'Delivered'}">{{ order.status }}</mat-card-subtitle>
                <mat-card-subtitle style="text-align: center;">OrderID:- {{order.id}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions style="justify-content: center;">
                <button mat-button (click)="openOrderDetails(order)">Open</button>
            </mat-card-actions>
        </mat-card> 
    </div>
</div>
