<app-navbar></app-navbar>
<br><br>

<div class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="box" *ngIf="!showOtpInput">
            <h1 class="title has-text-centered">Forgot Password</h1>
            <form>
                <div class="field">
                  <label class="label" for="email">Email</label>
                  <div class="control">
                    <input class="input" type="email" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email" (input)="validateEmail()" required>
                  </div>
                </div>
              
                <div class="field is-grouped is-grouped-centered">
                  <div class="control">
                    <button class="button is-primary" type="submit" [disabled]="!isEmailValid" (click)="generateOtp()">Reset Password</button>
                  </div>
                  <div class="control">
                    <button class="button is-text" type="button" routerLink="/login">Cancel</button>
                  </div>
                </div>
              </form>              
          </div>
          
          <div class="box" *ngIf="showOtpInput">
            <h1 class="title has-text-centered">Verify OTP</h1>
            <form>
                <div class="field">
                  <label class="label" for="otp">Enter OTP</label>
                  <div class="control">
                    <input class="input" type="text" id="otp" name="otp" placeholder="Enter the OTP" [(ngModel)]="otp" (input)="validateOtp()" required>
                  </div>
                </div>
              
                <div class="field is-grouped is-grouped-centered">
                  <div class="control">
                    <button class="button is-primary" type="submit" [disabled]="!isOtpValid" (click)="verifyOtp()">Verify</button>
                  </div>
                </div>
              </form>              
          </div>
        </div>
      </div>
    </div>
</div>
  
<app-footer></app-footer>
