<app-navbar></app-navbar>
<br><br>
<div class="section">
    <div class="container contact-container has-text-centered">
        <div class="title-contact is-10">
            <u>Contact Us</u>
        </div><br><br>
        <div class="content">
            <p>We'd love to hear from you! Fill out the form below to get in touch with us.</p>
        </div><br>
    </div>
        <div class="columns">
            <div class="column is-1"></div>
            <div class="column is-5">
                <form class="contact-form">
                    <div class="field">
                        <label class="label"><i style="color:red">*</i>&nbsp;Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Your name" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label"><i style="color:red">*</i>&nbsp;Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="Your email address" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label"><i style="color:red">*</i>&nbsp;Message</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Your message" required></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button" type="submit" style="font-weight: bold;">Send
                                Message&nbsp;<i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-5 has-text-left">
                <div class="content">
                    <p>You can also reach us directly through the following channels:</p>
                    <ul>
                        <li>Email: info@plantopia.com</li>
                        <li>Phone: +1 (123) 456-7890</li>
                        <li>Address: 123 Main Street, City, Country</li>
                    </ul>
                </div>
            </div>
            <div class="column is-1"></div>
        </div>
    </div>

<app-footer></app-footer>