<app-navbar></app-navbar>
<br><br>

<div class="columns">
  <div class="column">
    <mat-card style="
      text-align: left;
      width: fit-content;
      padding-top: 2%;
      padding-left: 5%;
      padding-bottom: 7%;
      padding-right: 10%;
      ">
      <h1><u><i>Admin Details</i></u></h1>
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card>
  </div>
  <div class="column" style="text-align: center;">
    <mat-card class="nav">
      <mat-card-header>
        <mat-card-title>Manage<br>Users</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button routerLink="/dashboard-user">Open</button>
      </mat-card-actions>
    </mat-card>&nbsp;&nbsp;&nbsp;
    <mat-card class="nav">
      <mat-card-header>
        <mat-card-title>Manage<br>Products</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button routerLink="/dashboard-product">Open</button>
      </mat-card-actions>
    </mat-card>&nbsp;&nbsp;&nbsp;
    <mat-card class="nav">
      <mat-card-header>
        <mat-card-title>Manage<br>Orders</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button routerLink="/dashboard-order">Open</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column">
    <mat-card class="nav" style="padding: 3%;">
      <mat-card-title class="total-income-card"></mat-card-title>
      <mat-card-subtitle>Total Income</mat-card-subtitle>
    </mat-card>&nbsp;&nbsp;&nbsp;
    <mat-card class="nav" style="padding: 3%;">
      <mat-card-title class="total-mCost-card"></mat-card-title>
      <mat-card-subtitle>Maintenance Cost</mat-card-subtitle>
    </mat-card>&nbsp;&nbsp;&nbsp;
    <mat-card class="nav" style="padding: 3%;">
      <mat-card-title class="total-profit-card"></mat-card-title>
      <mat-card-subtitle>Profit</mat-card-subtitle>
    </mat-card>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="box">
      <h2>Orders</h2>
      <canvas id="barchart"></canvas>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <h2>Sales</h2>
      <canvas id="linechart"></canvas>
    </div>
  </div>
</div>
