<nav>
    <a routerLink="/dashboard"><img src="https://sandunvirajdilshan.online/assets/images/logo/logo.png"></a>
    <a href="https://plantopia-eshop.web.app" target="_blank">
      <button mat-raised-button class="button_web">
        Web Site
      </button>
    </a>
    <div>
      <button mat-raised-button class="button_add" (click)="addForm()">
        Add Product
      </button>&nbsp;
      <button mat-raised-button class="button_delete" (click)="deleteForm()">
        Delete Product
      </button>
    </div>
    <button (click)="logout()" mat-button class="button_logout">Logout</button>
  </nav>