@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
  --high-color:#076907;
  --low-color: #0b8b0b;
}

*{
  font-family: 'Poppins', sans-serif, Roboto, "Helvetica Neue";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo {
  font-weight:bolder;
  font-family:'Montserrat', sans-serif;
}

html, body { height: 100%; }
